* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.respostas{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

textarea, input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
    height: 80px;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #28a745;
    color: white;
    width: 150px;
}

button[type="submit"]:hover {
    background-color: #218838;
}

button[type="button"] {
    background-color: #dc3545;
    color: white;
    width: 150px;
}

button[type="button"]:hover {
    background-color: #c82333;
}
.btnVerificar{
    background-color: #d38511;
    font-size: 50;
}

.spanGreen{
    background-color: #28a745;
    color: #f0f0f0;
    padding: 10px;
    
}


.spanOrange{
    background-color: #d38511;
    color: #f0f0f0;
    padding: 10px;
    
}

.msg{
    margin: 5px;
}

input{
    width: 450px;
}

.btnVErifica{
    display: flex;
    justify-content: center;
    align-items: center;
}

#option1{
    background-color: #c9f1d2;
}